---
title: Экслюзивная модель ручной работы Ferrari 250 SWB от немецкой фирмы CMC 
---

.jumbotron
  %h1 Никогда Еще Модель Автомобиля Не Была Настолько Детальна и Верна Оригиналу
  %p.lead Модель Ferrari 250 GT Berlinetta SWB, 1961 г.в. масштаб 1:18

#main-shot-container
  = image_tag "/images/ferrari/CMCFERRARI250GT3.jpg", id: 'main-shot'

#wrapper
  .container-narrow
    %h3 Ferrari 250 GT SWB Гордость Вашей Коллекции!

    .content
      %h4 Ferrari 250 GT SWB

      %p Если бы нужно было выбрать одну машина которую истинно можно было назвать легендой Ferrari, то это была бы Ferrari 250 GT SWB. Это, одна из величайших в истории, машина "двойного назначения", автомобиль, на котором можно было приехать на соревнования, выиграть в классе или всю гонку, и уехать на ней домой. Результатом стала форма настолько чистая, настолько хорошо сбалансированная, что Sergio Pininfarina назвал ее "первым из 3 наших квантовых скачков в дизайне с Ferrari"

      %h4 Модель

      %p CMC сделала реплику модели 1961 года. Доставая модель CMC Ferrari 250 GT SWB из коробки, самый первый взгляд, каким бы он не был быстрым, дает вам понять, что у вас в руках нечто выдающееся. 

      %p Уровень детализации CMC Ferrari 250 GT SWB просто захватывает дух. Там, где другие производители моделей остановливаются с своей детализацией, CMC только начинает! Примером этого является лестничная лонжеронная рама шасси, которая собирается отдельно, а затем скрепляется с полом так же, как при сборке реального автомобиля. Аналогично, тормозные трубки установлены по отдельности и изготовлены из реальной меди.

      %p При весе в 850 грамм, модель довольна увесиста, как безупречно сделанная вещь. Все размеры очень точно соблюдены для масштаба 1:18. Она состоит из 1141 детали и полностью собрана вручную. Каждая деталь кузова, как она была создана Sergio Pininfarina передана чрезвычайно точно.

      %h4 Внешний вид
      %p Все хромированные части, такие как бамперы, кольца вокруг фар, решетка радиатора имеют идеальное качество отделки. Решетка радиатора сам по себе очень тонко сделана. 

      %p Все вентиляционные отверстия реальны, то есть они проходят насквозь в кузове автомобиля. Боковые вентеляционные отверстия изнутри такой же щелевой конструкции, как на настоящем автомобиле.

      %p Дверцу топливного бака можно открыть и внутри видно крышку топливного бака

      %h4 Колеса

      %p Колеса добросовестные копии реальных спицованных колес. Покрышки - фирменные Michelin XWX из жесткой резины правильных размеров, с реальным рисунком протектора. Колеса можно снять и за ними есть на что посмотреть. Металлические тормозные диски с суппортами правильной формы в комплекте с тормозной магистралью выполненной из медного провода, который можно проследить на всем пути к моторному отсеку. Амортизаторы окрашены в оранжевый цвет, и вам особенно понравится реалистичная, миниатюрная, металлическая подвеска на задних колесах. Подвеска и тормоза выглядят фантастически. 

      %p Позади передних колес вы увидите с обеих сторон толстые трубы воздухозаборника. Подвеска жесткая, но работает верно со всеми двигающимися частями. 
      %h4 Шасси. 

      %p Это еще одна область, где эта модель действительно поражает. Шасси не прекрато никакой пластиной как на других моделях, поэтому все видно. Днище очень подробно воспроизведено со всеми проводами и трубками выполненными из меди и закрепленными мелкими зажимами к раме. 

      %h4 Двигательный отсек. 

      %p Это произведение искусства. CMC включили, столько вспомогательного оборудования, проводков и трубок сколько было физически возможно в таком ограниченном пространстве. Даже петли капота и опора капота точно воссозданные реальные механизмы. Опора капота работает точно так же, как и на реальной машине. Вот это внимание к деталям!

      %p Существует очевидная непрерывность всех труб и кабелей, т.е. их можно все проследить по всей длинне, они не исчезают из поля зрения входя в агреграт. 

      %h4 Интерьер. 

      %p Интерьер отделан натуральной кожей и ковровым покрытием. Кожанная обивка сидений великолепно подогнана.

      %p Вы даже сможете повернуть солнцезащитные козырьки. Дверные пороги покрыты металлической пластиной которая закреплена 4 миниатюрными шпильками.

      %p Приборная панель окрашена в красный цвет, как и кузов, и вналичии все кнопки и переключатели как отдельные элементы. Измерительные шкалы, включая маленькие, очень высокой четкости и хорошо читаемы.

      %p Рулевое колесо красиво сделано с безупречной имитацией текстуры дерева, вокруг него даже видно тонкую черную линию, как в реальной машине.

      %p Качество моделей CMC, детализация и точность - первоклассны.

      %h3 Дополнительные факты о модели
      .row-fluid
        %ul.features.span6
          %li 
            %i.icon-chevron-right
            Откидной капот двигателя, с регулируемым кронштейном
          %li 
            %i.icon-chevron-right
            Фантастическая миниатюра 12-цилиндрового V-образного двигателя со всеми агрегатами, трубопроводами и кабелями
          %li 
            %i.icon-chevron-right
            Закрепленная клепками металлическая накладка на дверном пороге
          %li 
            %i.icon-chevron-right
            Все оконные рамки из метала
          %li 
            %i.icon-chevron-right
            Интерьер и мягкие ковшеобразные сиденья покрыты великолепной натуральной кожей
          %li 
            %i.icon-chevron-right
            Ковровое покрытие на полу на салона
          %li 
            %i.icon-chevron-right
            Оригинальная приборная панель в комплекте со всеми инструментами и элементами управления
          %li 
            %i.icon-chevron-right
            Трехспицевой руль Nardi с покрытием под дерево

        %ul.features.span6
          %li 
            %i.icon-chevron-right
            Ковровое покрытие в багажнике
          %li 
            %i.icon-chevron-right
            Запасное колесо с оригинальным механизмом крепления
          %li 
            %i.icon-chevron-right
            Реплика выхлопной трубы один в один как в оригинале вместе с наконечником из хромированного металла 
          %li 
            %i.icon-chevron-right
            Откидная крышка бензобака
          %li 
            %i.icon-chevron-right
            Откручивающаяся гайка колеса Borrani позволяет вам легко снять колесо
          %li 
            %i.icon-chevron-right
            Точное воспроизведение днища
          %li 
            %i.icon-chevron-right
            Независимая передняя подвеска колес: Треугольный поперечный рычаг оснащенный пружинами и амортизаторами
          %li 
            %i.icon-chevron-right
            Подвеска колес в сзади: Жесткий мост защищенный страховочными канатами, функциональные продольные соединения металлических пружин, амортизаторы
          %li 
            %i.icon-chevron-right
            Тормозные и топливные трубки, вместе с фильтром, топливный насос и тросы ручного тормоза

      .row-fluid
        %ul.thumbnails
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/featured01.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/featured01.jpg"}/
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/featured02.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/featured02.jpg"}/
          %li.span6.first
            %a.thumbnail{:href => "/images/ferrari/featured03.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/featured03.jpg"}/
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/featured05.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/featured05.jpg"}

      %h3 Данные оригинального автомобиля

      .row-fluid
        %ul.features.span6
          %li 
            %i.icon-chevron-right
            12-Цилиндровый V-образный двигатель
          %li 
            %i.icon-chevron-right
            Объем двигателя: 2953 см3 
          %li 
            %i.icon-chevron-right
            Максимальная мощность: 240 лс на 7000 об/м 
          %li 
            %i.icon-chevron-right
            Максимальная скорость: 250 км/ч

        %ul.features.span6
          %li 
            %i.icon-chevron-right
            Колесная база: 2400 мм
          %li 
            %i.icon-chevron-right
            Общая длина: 4150 мм 
          %li 
            %i.icon-chevron-right
            Независимая подвеска колес спереди
          %li 
            %i.icon-chevron-right
            Дисковые тормоза впереди и сзади

      .row-fluid
        %ul.thumbnails
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/original01.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/original01.jpg"}/
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/original02.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/original02.jpg"}/
          %li.span6.first
            %a.thumbnail{:href => "/images/ferrari/original03.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/original03.jpg"}/
          %li.span6
            %a.thumbnail{:href => "/images/ferrari/original04.jpg", target: '_blank'}
              %img{:alt => "300x180", :src => "/images/ferrari/original04.jpg"}/


      %h3 Кроме того, первому купившему модель в подарок 0.5л ликера Jagermeister

      #jagermeister
        = image_tag '/images/Jagermeister.jpg', style: 'width: 50px; height: 100px;'

      %h3 Гарантия Безопасной Доставки

      %p Приобретая Ferrari 250 GT Berlinetta SWB, 100% риска лежит на мне. Если полученная вами модель окажется не в идеальном состоянии или повредится при транспортировке, отправьте ее обратно и я верну вам все до копейки.
       
      %h3.guarantee Модель доставлена в идеальном состоянии, или я возмещу 100% ваших расходов.

      %p Только представьте какой восторг она вызовет у вас когда вы возьмете ее в руки, ощутите прохладу идеально покращенного кузова, искрящиеся на солнце хромированные детали, вдохнете запах кожанного салона, КУПИТЕ МОДЕЛЬ СЕЙЧАС!

      %p Цена включает в себя безопасную и бережную упаковку и транспортировку до вас. Я вышлю модель в течении 24 часов с момента оплаты и сообщу вам номер отслеживания чтобы бы всегда были в курсе где она и знали что осталось ждать совсем немного!

      #pricing
        =image_tag '/images/pricing.png'

      .row-fluid
        .pay-box.span6
          %h5 Купить с помощью Яндекс.Деньги

          / %iframe#yandex-money{:allowtransparency => "true", :frameborder => "0", :height => "177", :scrolling => "no", :src => "https://money.yandex.ru/embed/shop.xml?uid=410011397321236&writer=seller&targets=%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C+CMC+Ferrari+250+GT+Berlinetta+SWB%2C+%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%2B+Jagermeister+0.5л&default-sum=10440&button-text=02&hint=%D0%9F%D0%BE%D0%B6%D0%B5%D0%BB%D0%B0%D0%BD%D0%B8%D1%8F&fio=on&mail=on&phone=on&address=on", :width => "450"}
          %iframe#yandex-money{:allowtransparency => "true", :frameborder => "0", :height => "54", :scrolling => "no", :src => "https://money.yandex.ru/embed/small.xml?uid=410011397321236&button-text=02&button-size=l&button-color=orange&targets=%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C+CMC+Ferrari+250+GT+Berlinetta+SWB%2C+%D0%9A%D1%80%D0%B0%D1%81%D0%BD%D0%B0%D1%8F+%2B+Jagermeister+0.5%D0%BB&default-sum=10440&fio=on&mail=on&phone=on&address=on", :width => "auto"}      

        .pay-box.span6
          %h5 Купить с помощью PayPal
          #paypal
            #paypal-logo
              / PayPal Logo
              %table{:align => "center", :border => "0", :cellpadding => "10", :cellspacing => "0"}
              %tr
                %td{:align => "center"}
              %tr
                %td{:align => "center"}
                  %a{:href => "#", :onclick => "javascript:window.open('https://www.paypal.com/ru/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"}
                    %img{:alt => "Acceptance Mark", :border => "0", :src => "https://www.paypal.com/en_US/i/logo/PayPal_mark_60x38.gif"}/
              / PayPal Logo

            %form#paypal-button{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
              %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
              %input{:name => "hosted_button_id", :type => "hidden", :value => "HK3G2GGBM7WX2"}/
              %input{:alt => "PayPal — более безопасный и легкий способ оплаты через Интернет!", :border => "0", :name => "submit", :src => "https://www.paypalobjects.com/ru_RU/RU/i/btn/btn_buynowCC_LG.gif", :type => "image"}/
              %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/